* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#headerDiv {
  display: flex;
  justify-content: center;
  height: 7vh;
  position: sticky;
  top: 0;
  background-color: #ffc017;
  z-index: 1;
  border-bottom: 1px solid black;
}

header {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20%;
}
#headerDiv.scrolled {
  color: black;
  background-color: white;
}
.navBtn.scrolled {
  background-color: black;
  color: white;
  border-radius: 50px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

.navBtn {
  border: none;
  background-color: #ffc017;
}

.getStartedBtn,
#titleBtn button {
  background-color: black;
  color: white;
  border-radius: 50px;
  width: 10vw;
  height: 4vh;
}
header.scrolledStarted {
  background-color: white;
  color: black;
}

#hero {
  display: flex;
  width: 100%;
  height: 40vh;
  background-color: #ffc017;
  padding-left: 20%;
  border-bottom: 1px solid black;
}

#titleDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
}

#titleDiv h1 {
  font-size: 6em;
  font-weight: 500;
  line-height: 120px;
  margin: 0;
  font-family: 'Spectral', serif;
}

#titleP p {
  width: 60%;
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 20px;
}

#titleBtn button {
  border: none;
  font-size: 1.3em;
  width: 20vh;
  height: 5vh;
}

#divM {
  flex-basis: 40%;
}

/*Trendings section*/

#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#trendings {
  display: flex;
  width: 65%;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid rgb(185, 184, 184);
  padding-bottom: 10px;
}

#trendingTitle,
#trendingArticles {
  display: flex;
  align-items: center;
}

#trendingArticles {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trendingTile {
  width: 33%;
  height: 20vh;
  display: flex;
}

.trendingNum p {
  margin: 0 20px;
  font-size: 1.8em;
  font-weight: 800;
  color: rgb(199, 199, 199);
}

.trendingDescr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.writer {
  display: flex;
  align-items: center;
}

.writer img {
  width: 10%;
  border-radius: 50%;
}

.writer p {
  font-size: 0.7em;
  font-weight: 800;
  margin-left: 10px;
}

.writer p span {
  font-weight: 500;
}

.articleTitle {
  height: 20%;
  display: flex;
  align-items: center;
}

.articleTitle h4 {
  font-size: 0.8em;
  margin: 0;
}

.published {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(113, 113, 113);
}

#mainPage {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#mainArticles {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.mainArticle {
  display: flex;
  justify-content: space-between;
}
.mainArticleImg img {
  width: 200px;
  padding: 50px 20px;
}

.writerMain {
  display: flex;
  align-items: center;
}

.writerMain p {
  font-weight: 600;
}

.writerMain img {
  margin-right: 10px;
  border-radius: 50px;
  width: 5%;
  height: 5%;
}

.mainArticleDescr {
  width: 80%;
}

.info {
  display: flex;
  align-items: center;
}

aside {
  width: 30%;
}
